@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It's my test task</p>
    <p>You can click on Directory reference and find hierarchical directory structure.</p>
</div>

