@{
    ViewData["Title"] = "About";
}
<h1>Vladislav Polovoy</h1>

<table class="table">
    <tr>
        <td>
            LinkedIn
        </td>
        <td>
            <a href="https://linkedin.com/in/vladislavpolovoy">vladislavpolovoy</a>
        </td>
    </tr>
    <tr>
        <td>
            GitHub
        </td>
        <td>
            <a href="https://github.com/BigBurger02">BigBurger02</a>
        </td>
    </tr>
</table>