@model Dir_Struct.Models.Folder_Entity

@{
    ViewData["Title"] = "Directory";
}

<h4>
    @Html.DisplayFor(model => model.Name)
</h4>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            Inner Folders:
        </tr>
    </thead>
    <tbody>
        @if (Model.NestedFolders != null)
            @foreach (var item in Model.NestedFolders)
            {
                <tr>
                    <td>
                        <a asp-action="Folder" asp-route-id="@item.ID">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                </tr>
            }
    </tbody>
</table>
